In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [2]:
spark = ( SparkSession \
         .builder
         .master('local')
         .appName('df_fifa_world_cup_2')
         .getOrCreate()
)

In [3]:
df = spark.read.csv('arquivo/wc2018-players.csv', header=True)

In [4]:
df.printSchema()

root
 |-- Team: string (nullable = true)
 |-- #: string (nullable = true)
 |-- Pos.: string (nullable = true)
 |-- FIFA Popular Name: string (nullable = true)
 |-- Birth Date: string (nullable = true)
 |-- Shirt Name: string (nullable = true)
 |-- Club: string (nullable = true)
 |-- Height: string (nullable = true)
 |-- Weight: string (nullable = true)

In [6]:
df.show(5)

+---------+---+----+------------------+----------+----------+--------------------+------+------+
|     Team|  #|Pos.| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
|Argentina|  3|  DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|
|Argentina| 22|  MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|
|Argentina| 15|  MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|
|Argentina| 18|  DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|
|Argentina| 10|  FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
only showing top 5 rows

In [9]:
df = df.withColumnRenamed('Team', 'Selecao')\
       .withColumnRenamed('#', 'Numero')\
       .withColumnRenamed('Pos.', 'Posicao')\
       .withColumnRenamed('FIFA Popular Name', 'Nome_FIFA')\
       .withColumnRenamed('Birth Date', 'Nascimento')\
       .withColumnRenamed('Shirt Name', 'Nome_Camiseta')\
       .withColumnRenamed('Club', 'Time')\
       .withColumnRenamed('Height', 'Altura')\
       .withColumnRenamed('Weight', 'Peso')

df.show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome_Camiseta|                Time|Altura|Peso|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+
only showing top 5 rows

In [13]:
df = df.withColumn('Ano', substring('Nascimento', -4,4))
df = df.withColumn('Mes', substring('Nascimento', -7,2))
df = df.withColumn('Dia', substring('Nascimento', -10,2))

In [14]:
df.show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+---+---+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome_Camiseta|                Time|Altura|Peso| Ano|Mes|Dia|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+---+---+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|1992| 08| 31|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|1996| 01| 21|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|1993| 02| 15|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|1990| 07| 13|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|1987| 06| 24|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+---+---+
only showing top 5 rows

In [16]:
df = df.withColumn('Data_Nascimento', concat_ws('-', 'Ano', 'Mes', 'Dia').cast(DateType()))

In [18]:
df.show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+---+---+---------------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome_Camiseta|                Time|Altura|Peso| Ano|Mes|Dia|Data_Nascimento|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+---+---+---------------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|1992| 08| 31|     1992-08-31|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|1996| 01| 21|     1996-01-21|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|1993| 02| 15|     1993-02-15|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|1990| 07| 13|     1990-07-13|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|1987| 06| 24|     1987-06-24|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+---+---+---------------+
only showing top 5 rows

In [21]:
df = df.drop('Nascimento')
df.show(5)

+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nome_Camiseta|                Time|Altura|Peso| Ano|Mes|Dia|Data_Nascimento|
+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|1992| 08| 31|     1992-08-31|
|Argentina|    22|     MF|    PAVON Cristian|        PAVÓN|CA Boca Juniors (...|   169|  65|1996| 01| 21|     1996-01-21|
|Argentina|    15|     MF|    LANZINI Manuel|      LANZINI|West Ham United F...|   167|  66|1993| 02| 15|     1993-02-15|
|Argentina|    18|     DF|    SALVIO Eduardo|       SALVIO|    SL Benfica (POR)|   167|  69|1990| 07| 13|     1990-07-13|
|Argentina|    10|     FW|      MESSI Lionel|        MESSI|  FC Barcelona (ESP)|   170|  72|1987| 06| 24|     1987-06-24|
+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+
only showing top 5 rows

In [23]:
df2 = df

In [24]:
df.show(5)

+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nome_Camiseta|                Time|Altura|Peso| Ano|Mes|Dia|Data_Nascimento|
+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|1992| 08| 31|     1992-08-31|
|Argentina|    22|     MF|    PAVON Cristian|        PAVÓN|CA Boca Juniors (...|   169|  65|1996| 01| 21|     1996-01-21|
|Argentina|    15|     MF|    LANZINI Manuel|      LANZINI|West Ham United F...|   167|  66|1993| 02| 15|     1993-02-15|
|Argentina|    18|     DF|    SALVIO Eduardo|       SALVIO|    SL Benfica (POR)|   167|  69|1990| 07| 13|     1990-07-13|
|Argentina|    10|     FW|      MESSI Lionel|        MESSI|  FC Barcelona (ESP)|   170|  72|1987| 06| 24|     1987-06-24|
+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+
only showing top 5 rows

In [28]:
num_linha = Window.partitionBy('Selecao').orderBy(desc('Altura'))

df.withColumn('n', row_number().over(num_linha)).show(30)

+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+---+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nome_Camiseta|                Time|Altura|Peso| Ano|Mes|Dia|Data_Nascimento|  n|
+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+---+
|Argentina|     6|     DF|    FAZIO Federico|        FAZIO|       AS Roma (ITA)|   199|  85|1987| 03| 17|     1987-03-17|  1|
|Argentina|     1|     GK|     GUZMAN Nahuel|       GUZMÁN|   Tigres UANL (MEX)|   192|  90|1986| 02| 10|     1986-02-10|  2|
|Argentina|    16|     DF|       ROJO Marcos|         ROJO|Manchester United...|   189|  82|1990| 03| 20|     1990-03-20|  3|
|Argentina|    12|     GK|     ARMANI Franco|       ARMANI|CA River Plate (ARG)|   189|  85|1986| 10| 16|     1986-10-16|  4|
|Argentina|    23|     GK|CABALLERO Wilfredo|    CABALLERO|    Chelsea FC (ENG)|   186|  80|1981| 09| 28|     1981-09-28|  5|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|      HIGUAÍN|   Juventus FC (ITA)|   184|  75|1987| 12| 10|     1987-12-10|  6|
|Argentina|     4|     DF|  ANSALDI Cristian|      ANSALDI|     Torino FC (ITA)|   181|  73|1986| 09| 20|     1986-09-20|  7|
|Argentina|     2|     DF|   MERCADO Gabriel|      MERCADO|    Sevilla FC (ESP)|   181|  81|1987| 03| 18|     1987-03-18|  8|
|Argentina|    17|     DF|  OTAMENDI Nicolas|     OTAMENDI|Manchester City F...|   181|  81|1988| 02| 12|     1988-02-12|  9|
|Argentina|    13|     MF|  MEZA Maximiliano|         MEZA|CA Independiente ...|   180|  76|1992| 12| 15|     1992-12-15| 10|
|Argentina|    11|     MF|    DI MARIA Angel|     DI MARÍA|Paris Saint-Germa...|   178|  75|1988| 02| 14|     1988-02-14| 11|
|Argentina|    21|     FW|      DYBALA Paulo|       DYBALA|   Juventus FC (ITA)|   177|  73|1993| 11| 15|     1993-11-15| 12|
|Argentina|    20|     MF|  LO CELSO Giovani|     LO CELSO|Paris Saint-Germa...|   177|  75|1996| 04| 09|     1996-04-09| 13|
|Argentina|     5|     MF|      BIGLIA Lucas|       BIGLIA|      AC Milan (ITA)|   175|  73|1986| 01| 30|     1986-01-30| 14|
|Argentina|     7|     MF|       BANEGA Ever|       BANEGA|    Sevilla FC (ESP)|   175|  73|1988| 06| 29|     1988-06-29| 15|
|Argentina|    14|     DF| MASCHERANO Javier|   MASCHERANO|Hebei China Fortu...|   174|  73|1984| 06| 08|     1984-06-08| 16|
|Argentina|    19|     FW|     AGUERO Sergio|       AGÜERO|Manchester City F...|   172|  74|1988| 06| 02|     1988-06-02| 17|
|Argentina|     8|     DF|      ACUNA Marcos|        ACUÑA|   Sporting CP (POR)|   172|  77|1991| 10| 28|     1991-10-28| 18|
|Argentina|    10|     FW|      MESSI Lionel|        MESSI|  FC Barcelona (ESP)|   170|  72|1987| 06| 24|     1987-06-24| 19|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|1992| 08| 31|     1992-08-31| 20|
|Argentina|    22|     MF|    PAVON Cristian|        PAVÓN|CA Boca Juniors (...|   169|  65|1996| 01| 21|     1996-01-21| 21|
|Argentina|    15|     MF|    LANZINI Manuel|      LANZINI|West Ham United F...|   167|  66|1993| 02| 15|     1993-02-15| 22|
|Argentina|    18|     DF|    SALVIO Eduardo|       SALVIO|    SL Benfica (POR)|   167|  69|1990| 07| 13|     1990-07-13| 23|
|Australia|    12|     GK|        JONES Brad|        JONES|Feyenoord Rotterd...|   193|  87|1982| 03| 19|     1982-03-19|  1|
|Australia|     9|     FW|        JURIC Tomi|        JURIC|     FC Luzern (SUI)|   190|  80|1991| 07| 22|     1991-07-22|  2|
|Australia|     6|     DF|    JURMAN Matthew|       JURMAN|Suwon Samsung Blu...|   190|  83|1989| 12| 08|     1989-12-08|  3|
|Australia|    23|     MF|         ROGIC Tom|        ROGIC|     Celtic FC (SCO)|   189|  88|1992| 12| 16|     1992-12-16|  4|
|Australia|    15|     MF|      JEDINAK Mile|      JEDINAK|Aston Villa FC (ENG)|   188|  78|1984| 08| 03|     1984-08-03|  5|
|Australia|     2|     DF|     DEGENEK Milos|      DEGENEK|Yokohama F-Marino...|   187|  85|1994| 04| 28|     1994-04-28|  6|
|Australia|    18|     GK|     VUKOVIC Danny|      VUKOVIC|      KRC Genk (BEL)|   187|  94|1985| 03| 27|     1985-03-27|  7|
+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+---+
only showing top 30 rows

In [30]:
rank1 = Window.partitionBy('Selecao').orderBy(desc('Altura'))

df.withColumn('rank', rank().over(rank1)).show(24)

+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+----+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nome_Camiseta|                Time|Altura|Peso| Ano|Mes|Dia|Data_Nascimento|rank|
+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+----+
|Argentina|     6|     DF|    FAZIO Federico|        FAZIO|       AS Roma (ITA)|   199|  85|1987| 03| 17|     1987-03-17|   1|
|Argentina|     1|     GK|     GUZMAN Nahuel|       GUZMÁN|   Tigres UANL (MEX)|   192|  90|1986| 02| 10|     1986-02-10|   2|
|Argentina|    16|     DF|       ROJO Marcos|         ROJO|Manchester United...|   189|  82|1990| 03| 20|     1990-03-20|   3|
|Argentina|    12|     GK|     ARMANI Franco|       ARMANI|CA River Plate (ARG)|   189|  85|1986| 10| 16|     1986-10-16|   3|
|Argentina|    23|     GK|CABALLERO Wilfredo|    CABALLERO|    Chelsea FC (ENG)|   186|  80|1981| 09| 28|     1981-09-28|   5|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|      HIGUAÍN|   Juventus FC (ITA)|   184|  75|1987| 12| 10|     1987-12-10|   6|
|Argentina|     4|     DF|  ANSALDI Cristian|      ANSALDI|     Torino FC (ITA)|   181|  73|1986| 09| 20|     1986-09-20|   7|
|Argentina|     2|     DF|   MERCADO Gabriel|      MERCADO|    Sevilla FC (ESP)|   181|  81|1987| 03| 18|     1987-03-18|   7|
|Argentina|    17|     DF|  OTAMENDI Nicolas|     OTAMENDI|Manchester City F...|   181|  81|1988| 02| 12|     1988-02-12|   7|
|Argentina|    13|     MF|  MEZA Maximiliano|         MEZA|CA Independiente ...|   180|  76|1992| 12| 15|     1992-12-15|  10|
|Argentina|    11|     MF|    DI MARIA Angel|     DI MARÍA|Paris Saint-Germa...|   178|  75|1988| 02| 14|     1988-02-14|  11|
|Argentina|    21|     FW|      DYBALA Paulo|       DYBALA|   Juventus FC (ITA)|   177|  73|1993| 11| 15|     1993-11-15|  12|
|Argentina|    20|     MF|  LO CELSO Giovani|     LO CELSO|Paris Saint-Germa...|   177|  75|1996| 04| 09|     1996-04-09|  12|
|Argentina|     5|     MF|      BIGLIA Lucas|       BIGLIA|      AC Milan (ITA)|   175|  73|1986| 01| 30|     1986-01-30|  14|
|Argentina|     7|     MF|       BANEGA Ever|       BANEGA|    Sevilla FC (ESP)|   175|  73|1988| 06| 29|     1988-06-29|  14|
|Argentina|    14|     DF| MASCHERANO Javier|   MASCHERANO|Hebei China Fortu...|   174|  73|1984| 06| 08|     1984-06-08|  16|
|Argentina|    19|     FW|     AGUERO Sergio|       AGÜERO|Manchester City F...|   172|  74|1988| 06| 02|     1988-06-02|  17|
|Argentina|     8|     DF|      ACUNA Marcos|        ACUÑA|   Sporting CP (POR)|   172|  77|1991| 10| 28|     1991-10-28|  17|
|Argentina|    10|     FW|      MESSI Lionel|        MESSI|  FC Barcelona (ESP)|   170|  72|1987| 06| 24|     1987-06-24|  19|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|1992| 08| 31|     1992-08-31|  20|
|Argentina|    22|     MF|    PAVON Cristian|        PAVÓN|CA Boca Juniors (...|   169|  65|1996| 01| 21|     1996-01-21|  20|
|Argentina|    15|     MF|    LANZINI Manuel|      LANZINI|West Ham United F...|   167|  66|1993| 02| 15|     1993-02-15|  22|
|Argentina|    18|     DF|    SALVIO Eduardo|       SALVIO|    SL Benfica (POR)|   167|  69|1990| 07| 13|     1990-07-13|  22|
|Australia|    12|     GK|        JONES Brad|        JONES|Feyenoord Rotterd...|   193|  87|1982| 03| 19|     1982-03-19|   1|
+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+----+
only showing top 24 rows

In [32]:
rank2 = Window.partitionBy('Selecao').orderBy(desc('Altura'))

df.withColumn('rank2', dense_rank().over(rank2)).show(25)

+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+-----+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nome_Camiseta|                Time|Altura|Peso| Ano|Mes|Dia|Data_Nascimento|rank2|
+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+-----+
|Argentina|     6|     DF|    FAZIO Federico|        FAZIO|       AS Roma (ITA)|   199|  85|1987| 03| 17|     1987-03-17|    1|
|Argentina|     1|     GK|     GUZMAN Nahuel|       GUZMÁN|   Tigres UANL (MEX)|   192|  90|1986| 02| 10|     1986-02-10|    2|
|Argentina|    16|     DF|       ROJO Marcos|         ROJO|Manchester United...|   189|  82|1990| 03| 20|     1990-03-20|    3|
|Argentina|    12|     GK|     ARMANI Franco|       ARMANI|CA River Plate (ARG)|   189|  85|1986| 10| 16|     1986-10-16|    3|
|Argentina|    23|     GK|CABALLERO Wilfredo|    CABALLERO|    Chelsea FC (ENG)|   186|  80|1981| 09| 28|     1981-09-28|    4|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|      HIGUAÍN|   Juventus FC (ITA)|   184|  75|1987| 12| 10|     1987-12-10|    5|
|Argentina|     4|     DF|  ANSALDI Cristian|      ANSALDI|     Torino FC (ITA)|   181|  73|1986| 09| 20|     1986-09-20|    6|
|Argentina|     2|     DF|   MERCADO Gabriel|      MERCADO|    Sevilla FC (ESP)|   181|  81|1987| 03| 18|     1987-03-18|    6|
|Argentina|    17|     DF|  OTAMENDI Nicolas|     OTAMENDI|Manchester City F...|   181|  81|1988| 02| 12|     1988-02-12|    6|
|Argentina|    13|     MF|  MEZA Maximiliano|         MEZA|CA Independiente ...|   180|  76|1992| 12| 15|     1992-12-15|    7|
|Argentina|    11|     MF|    DI MARIA Angel|     DI MARÍA|Paris Saint-Germa...|   178|  75|1988| 02| 14|     1988-02-14|    8|
|Argentina|    21|     FW|      DYBALA Paulo|       DYBALA|   Juventus FC (ITA)|   177|  73|1993| 11| 15|     1993-11-15|    9|
|Argentina|    20|     MF|  LO CELSO Giovani|     LO CELSO|Paris Saint-Germa...|   177|  75|1996| 04| 09|     1996-04-09|    9|
|Argentina|     5|     MF|      BIGLIA Lucas|       BIGLIA|      AC Milan (ITA)|   175|  73|1986| 01| 30|     1986-01-30|   10|
|Argentina|     7|     MF|       BANEGA Ever|       BANEGA|    Sevilla FC (ESP)|   175|  73|1988| 06| 29|     1988-06-29|   10|
|Argentina|    14|     DF| MASCHERANO Javier|   MASCHERANO|Hebei China Fortu...|   174|  73|1984| 06| 08|     1984-06-08|   11|
|Argentina|    19|     FW|     AGUERO Sergio|       AGÜERO|Manchester City F...|   172|  74|1988| 06| 02|     1988-06-02|   12|
|Argentina|     8|     DF|      ACUNA Marcos|        ACUÑA|   Sporting CP (POR)|   172|  77|1991| 10| 28|     1991-10-28|   12|
|Argentina|    10|     FW|      MESSI Lionel|        MESSI|  FC Barcelona (ESP)|   170|  72|1987| 06| 24|     1987-06-24|   13|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|1992| 08| 31|     1992-08-31|   14|
|Argentina|    22|     MF|    PAVON Cristian|        PAVÓN|CA Boca Juniors (...|   169|  65|1996| 01| 21|     1996-01-21|   14|
|Argentina|    15|     MF|    LANZINI Manuel|      LANZINI|West Ham United F...|   167|  66|1993| 02| 15|     1993-02-15|   15|
|Argentina|    18|     DF|    SALVIO Eduardo|       SALVIO|    SL Benfica (POR)|   167|  69|1990| 07| 13|     1990-07-13|   15|
|Australia|    12|     GK|        JONES Brad|        JONES|Feyenoord Rotterd...|   193|  87|1982| 03| 19|     1982-03-19|    1|
|Australia|     9|     FW|        JURIC Tomi|        JURIC|     FC Luzern (SUI)|   190|  80|1991| 07| 22|     1991-07-22|    2|
+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+-----+
only showing top 25 rows

In [35]:
porcentagem = Window.partitionBy('Selecao').orderBy(desc('Altura'))

df.withColumn('%', percent_rank().over(porcentagem)).show(50)

+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+--------------------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nome_Camiseta|                Time|Altura|Peso| Ano|Mes|Dia|Data_Nascimento|                   %|
+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+--------------------+
|Argentina|     6|     DF|    FAZIO Federico|        FAZIO|       AS Roma (ITA)|   199|  85|1987| 03| 17|     1987-03-17|                 0.0|
|Argentina|     1|     GK|     GUZMAN Nahuel|       GUZMÁN|   Tigres UANL (MEX)|   192|  90|1986| 02| 10|     1986-02-10|0.045454545454545456|
|Argentina|    16|     DF|       ROJO Marcos|         ROJO|Manchester United...|   189|  82|1990| 03| 20|     1990-03-20| 0.09090909090909091|
|Argentina|    12|     GK|     ARMANI Franco|       ARMANI|CA River Plate (ARG)|   189|  85|1986| 10| 16|     1986-10-16| 0.09090909090909091|
|Argentina|    23|     GK|CABALLERO Wilfredo|    CABALLERO|    Chelsea FC (ENG)|   186|  80|1981| 09| 28|     1981-09-28| 0.18181818181818182|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|      HIGUAÍN|   Juventus FC (ITA)|   184|  75|1987| 12| 10|     1987-12-10| 0.22727272727272727|
|Argentina|     4|     DF|  ANSALDI Cristian|      ANSALDI|     Torino FC (ITA)|   181|  73|1986| 09| 20|     1986-09-20|  0.2727272727272727|
|Argentina|     2|     DF|   MERCADO Gabriel|      MERCADO|    Sevilla FC (ESP)|   181|  81|1987| 03| 18|     1987-03-18|  0.2727272727272727|
|Argentina|    17|     DF|  OTAMENDI Nicolas|     OTAMENDI|Manchester City F...|   181|  81|1988| 02| 12|     1988-02-12|  0.2727272727272727|
|Argentina|    13|     MF|  MEZA Maximiliano|         MEZA|CA Independiente ...|   180|  76|1992| 12| 15|     1992-12-15|  0.4090909090909091|
|Argentina|    11|     MF|    DI MARIA Angel|     DI MARÍA|Paris Saint-Germa...|   178|  75|1988| 02| 14|     1988-02-14| 0.45454545454545453|
|Argentina|    21|     FW|      DYBALA Paulo|       DYBALA|   Juventus FC (ITA)|   177|  73|1993| 11| 15|     1993-11-15|                 0.5|
|Argentina|    20|     MF|  LO CELSO Giovani|     LO CELSO|Paris Saint-Germa...|   177|  75|1996| 04| 09|     1996-04-09|                 0.5|
|Argentina|     5|     MF|      BIGLIA Lucas|       BIGLIA|      AC Milan (ITA)|   175|  73|1986| 01| 30|     1986-01-30|  0.5909090909090909|
|Argentina|     7|     MF|       BANEGA Ever|       BANEGA|    Sevilla FC (ESP)|   175|  73|1988| 06| 29|     1988-06-29|  0.5909090909090909|
|Argentina|    14|     DF| MASCHERANO Javier|   MASCHERANO|Hebei China Fortu...|   174|  73|1984| 06| 08|     1984-06-08|  0.6818181818181818|
|Argentina|    19|     FW|     AGUERO Sergio|       AGÜERO|Manchester City F...|   172|  74|1988| 06| 02|     1988-06-02|  0.7272727272727273|
|Argentina|     8|     DF|      ACUNA Marcos|        ACUÑA|   Sporting CP (POR)|   172|  77|1991| 10| 28|     1991-10-28|  0.7272727272727273|
|Argentina|    10|     FW|      MESSI Lionel|        MESSI|  FC Barcelona (ESP)|   170|  72|1987| 06| 24|     1987-06-24|  0.8181818181818182|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|1992| 08| 31|     1992-08-31|  0.8636363636363636|
|Argentina|    22|     MF|    PAVON Cristian|        PAVÓN|CA Boca Juniors (...|   169|  65|1996| 01| 21|     1996-01-21|  0.8636363636363636|
|Argentina|    15|     MF|    LANZINI Manuel|      LANZINI|West Ham United F...|   167|  66|1993| 02| 15|     1993-02-15|  0.9545454545454546|
|Argentina|    18|     DF|    SALVIO Eduardo|       SALVIO|    SL Benfica (POR)|   167|  69|1990| 07| 13|     1990-07-13|  0.9545454545454546|
|Australia|    12|     GK|        JONES Brad|        JONES|Feyenoord Rotterd...|   193|  87|1982| 03| 19|     1982-03-19|                 0.0|
|Australia|     9|     FW|        JURIC Tomi|        JURIC|     FC Luzern (SUI)|   190|  80|1991| 07| 22|     1991-07-22|0.045454545454545456|
|Australia|     6|     DF|    JURMAN Matthew|       JURMAN|Suwon Samsung Blu...|   190|  83|1989| 12| 08|     1989-12-08|0.045454545454545456|
|Australia|    23|     MF|         ROGIC Tom|        ROGIC|     Celtic FC (SCO)|   189|  88|1992| 12| 16|     1992-12-16| 0.13636363636363635|
|Australia|    15|     MF|      JEDINAK Mile|      JEDINAK|Aston Villa FC (ENG)|   188|  78|1984| 08| 03|     1984-08-03| 0.18181818181818182|
|Australia|     2|     DF|     DEGENEK Milos|      DEGENEK|Yokohama F-Marino...|   187|  85|1994| 04| 28|     1994-04-28| 0.22727272727272727|
|Australia|    18|     GK|     VUKOVIC Danny|      VUKOVIC|      KRC Genk (BEL)|   187|  94|1985| 03| 27|     1985-03-27| 0.22727272727272727|
|Australia|     1|     GK|       RYAN Mathew|         RYAN|Brighton & Hove A...|   184|  82|1992| 04| 08|     1992-04-08|  0.3181818181818182|
|Australia|    20|     DF|   SAINSBURY Trent|    SAINSBURY|Grasshopper Club ...|   183|  76|1992| 01| 05|     1992-01-05| 0.36363636363636365|
|Australia|     7|     FW|     LECKIE Mathew|       LECKIE|    Hertha BSC (GER)|   181|  84|1991| 02| 04|     1991-02-04|  0.4090909090909091|
|Australia|    10|     FW|      KRUSE Robbie|        KRUSE|    VfL Bochum (GER)|   180|  66|1988| 10| 05|     1988-10-05| 0.45454545454545453|
|Australia|     4|     FW|        CAHILL Tim|       CAHILL|   Millwall FC (ENG)|   180|  76|1979| 12| 06|     1979-12-06| 0.45454545454545453|
|Australia|    22|     MF|    IRVINE Jackson|       IRVINE|  Hull City FC (ENG)|   180|  77|1993| 03| 07|     1993-03-07| 0.45454545454545453|
|Australia|     3|     DF|    MEREDITH James|     MEREDITH|   Millwall FC (ENG)|   179|  71|1988| 04| 05|     1988-04-05|  0.5909090909090909|
|Australia|    14|     FW|    MacLAREN Jamie|     MACLAREN|  Hibernian FC (SCO)|   178|  72|1993| 07| 29|     1993-07-29|  0.6363636363636364|
|Australia|     5|     DF|     MILLIGAN Mark|     MILLIGAN|    Al Ahli SC (KSA)|   178|  78|1985| 08| 04|     1985-08-04|  0.6363636363636364|
|Australia|    11|     FW|    NABBOUT Andrew|      NABBOUT|    Urawa Reds (JPN)|   178|  85|1992| 12| 17|     1992-12-17|  0.6363636363636364|
|Australia|    21|     FW|PETRATOS Dimitrios|     PETRATOS|Newcastle United ...|   176|  72|1992| 11| 10|     1992-11-10|  0.7727272727272727|
|Australia|     8|     MF|    LUONGO Massimo|       LUONGO|Queens Park Range...|   176|  76|1992| 09| 25|     1992-09-25|  0.7727272727272727|
|Australia|    13|     MF|        MOOY Aaron|         MOOY|Huddersfield Town...|   173|  72|1990| 09| 15|     1990-09-15|  0.8636363636363636|
|Australia|    17|     FW|     ARZANI Daniel|       ARZANI|Melbourne City FC...|   171|  73|1999| 01| 04|     1999-01-04|  0.9090909090909091|
|Australia|    16|     DF|       BEHICH Aziz|       BEHICH|     Bursaspor (TUR)|   170|  63|1990| 12| 16|     1990-12-16|  0.9545454545454546|
|Australia|    19|     DF|     RISDON Joshua|       RISDON|WS Wanderers FC (...|   169|  70|1992| 07| 27|     1992-07-27|                 1.0|
|  Belgium|     1|     GK|  COURTOIS Thibaut|     COURTOIS|    Chelsea FC (ENG)|   199|  91|1992| 05| 11|     1992-05-11|                 0.0|
|  Belgium|    13|     GK|     CASTEELS Koen|     CASTEELS| VfL Wolfsburg (GER)|   197|  86|1992| 06| 25|     1992-06-25|0.045454545454545456|
|  Belgium|     8|     MF| FELLAINI Marouane|     FELLAINI|Manchester United...|   194|  85|1987| 11| 22|     1987-11-22| 0.09090909090909091|
|  Belgium|    12|     GK|    MIGNOLET Simon|     MIGNOLET|  Liverpool FC (ENG)|   193|  87|1988| 03| 06|     1988-03-06| 0.13636363636363635|
+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+--------------------+
only showing top 50 rows

In [39]:
parte = Window.partitionBy('Selecao').orderBy(desc('Altura'))

df.withColumn('partes', ntile(5).over(parte)).show(23)

+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nome_Camiseta|                Time|Altura|Peso| Ano|Mes|Dia|Data_Nascimento|partes|
+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+------+
|Argentina|     6|     DF|    FAZIO Federico|        FAZIO|       AS Roma (ITA)|   199|  85|1987| 03| 17|     1987-03-17|     1|
|Argentina|     1|     GK|     GUZMAN Nahuel|       GUZMÁN|   Tigres UANL (MEX)|   192|  90|1986| 02| 10|     1986-02-10|     1|
|Argentina|    16|     DF|       ROJO Marcos|         ROJO|Manchester United...|   189|  82|1990| 03| 20|     1990-03-20|     1|
|Argentina|    12|     GK|     ARMANI Franco|       ARMANI|CA River Plate (ARG)|   189|  85|1986| 10| 16|     1986-10-16|     1|
|Argentina|    23|     GK|CABALLERO Wilfredo|    CABALLERO|    Chelsea FC (ENG)|   186|  80|1981| 09| 28|     1981-09-28|     1|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|      HIGUAÍN|   Juventus FC (ITA)|   184|  75|1987| 12| 10|     1987-12-10|     2|
|Argentina|     4|     DF|  ANSALDI Cristian|      ANSALDI|     Torino FC (ITA)|   181|  73|1986| 09| 20|     1986-09-20|     2|
|Argentina|     2|     DF|   MERCADO Gabriel|      MERCADO|    Sevilla FC (ESP)|   181|  81|1987| 03| 18|     1987-03-18|     2|
|Argentina|    17|     DF|  OTAMENDI Nicolas|     OTAMENDI|Manchester City F...|   181|  81|1988| 02| 12|     1988-02-12|     2|
|Argentina|    13|     MF|  MEZA Maximiliano|         MEZA|CA Independiente ...|   180|  76|1992| 12| 15|     1992-12-15|     2|
|Argentina|    11|     MF|    DI MARIA Angel|     DI MARÍA|Paris Saint-Germa...|   178|  75|1988| 02| 14|     1988-02-14|     3|
|Argentina|    21|     FW|      DYBALA Paulo|       DYBALA|   Juventus FC (ITA)|   177|  73|1993| 11| 15|     1993-11-15|     3|
|Argentina|    20|     MF|  LO CELSO Giovani|     LO CELSO|Paris Saint-Germa...|   177|  75|1996| 04| 09|     1996-04-09|     3|
|Argentina|     5|     MF|      BIGLIA Lucas|       BIGLIA|      AC Milan (ITA)|   175|  73|1986| 01| 30|     1986-01-30|     3|
|Argentina|     7|     MF|       BANEGA Ever|       BANEGA|    Sevilla FC (ESP)|   175|  73|1988| 06| 29|     1988-06-29|     3|
|Argentina|    14|     DF| MASCHERANO Javier|   MASCHERANO|Hebei China Fortu...|   174|  73|1984| 06| 08|     1984-06-08|     4|
|Argentina|    19|     FW|     AGUERO Sergio|       AGÜERO|Manchester City F...|   172|  74|1988| 06| 02|     1988-06-02|     4|
|Argentina|     8|     DF|      ACUNA Marcos|        ACUÑA|   Sporting CP (POR)|   172|  77|1991| 10| 28|     1991-10-28|     4|
|Argentina|    10|     FW|      MESSI Lionel|        MESSI|  FC Barcelona (ESP)|   170|  72|1987| 06| 24|     1987-06-24|     4|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|1992| 08| 31|     1992-08-31|     5|
|Argentina|    22|     MF|    PAVON Cristian|        PAVÓN|CA Boca Juniors (...|   169|  65|1996| 01| 21|     1996-01-21|     5|
|Argentina|    15|     MF|    LANZINI Manuel|      LANZINI|West Ham United F...|   167|  66|1993| 02| 15|     1993-02-15|     5|
|Argentina|    18|     DF|    SALVIO Eduardo|       SALVIO|    SL Benfica (POR)|   167|  69|1990| 07| 13|     1990-07-13|     5|
+---------+------+-------+------------------+-------------+--------------------+------+----+----+---+---+---------------+------+
only showing top 23 rows

In [41]:
df = df.drop('Nome_FIFA')

In [43]:
degrau = Window.partitionBy('Selecao').orderBy(desc('Altura'))

df.withColumn('degrau', lag('Peso').over(degrau)).show(23)

+---------+------+-------+-------------+--------------------+------+----+----+---+---+---------------+------+
|  Selecao|Numero|Posicao|Nome_Camiseta|                Time|Altura|Peso| Ano|Mes|Dia|Data_Nascimento|degrau|
+---------+------+-------+-------------+--------------------+------+----+----+---+---+---------------+------+
|Argentina|     6|     DF|        FAZIO|       AS Roma (ITA)|   199|  85|1987| 03| 17|     1987-03-17|  NULL|
|Argentina|     1|     GK|       GUZMÁN|   Tigres UANL (MEX)|   192|  90|1986| 02| 10|     1986-02-10|    85|
|Argentina|    16|     DF|         ROJO|Manchester United...|   189|  82|1990| 03| 20|     1990-03-20|    90|
|Argentina|    12|     GK|       ARMANI|CA River Plate (ARG)|   189|  85|1986| 10| 16|     1986-10-16|    82|
|Argentina|    23|     GK|    CABALLERO|    Chelsea FC (ENG)|   186|  80|1981| 09| 28|     1981-09-28|    85|
|Argentina|     9|     FW|      HIGUAÍN|   Juventus FC (ITA)|   184|  75|1987| 12| 10|     1987-12-10|    80|
|Argentina|     4|     DF|      ANSALDI|     Torino FC (ITA)|   181|  73|1986| 09| 20|     1986-09-20|    75|
|Argentina|     2|     DF|      MERCADO|    Sevilla FC (ESP)|   181|  81|1987| 03| 18|     1987-03-18|    73|
|Argentina|    17|     DF|     OTAMENDI|Manchester City F...|   181|  81|1988| 02| 12|     1988-02-12|    81|
|Argentina|    13|     MF|         MEZA|CA Independiente ...|   180|  76|1992| 12| 15|     1992-12-15|    81|
|Argentina|    11|     MF|     DI MARÍA|Paris Saint-Germa...|   178|  75|1988| 02| 14|     1988-02-14|    76|
|Argentina|    21|     FW|       DYBALA|   Juventus FC (ITA)|   177|  73|1993| 11| 15|     1993-11-15|    75|
|Argentina|    20|     MF|     LO CELSO|Paris Saint-Germa...|   177|  75|1996| 04| 09|     1996-04-09|    73|
|Argentina|     5|     MF|       BIGLIA|      AC Milan (ITA)|   175|  73|1986| 01| 30|     1986-01-30|    75|
|Argentina|     7|     MF|       BANEGA|    Sevilla FC (ESP)|   175|  73|1988| 06| 29|     1988-06-29|    73|
|Argentina|    14|     DF|   MASCHERANO|Hebei China Fortu...|   174|  73|1984| 06| 08|     1984-06-08|    73|
|Argentina|    19|     FW|       AGÜERO|Manchester City F...|   172|  74|1988| 06| 02|     1988-06-02|    73|
|Argentina|     8|     DF|        ACUÑA|   Sporting CP (POR)|   172|  77|1991| 10| 28|     1991-10-28|    74|
|Argentina|    10|     FW|        MESSI|  FC Barcelona (ESP)|   170|  72|1987| 06| 24|     1987-06-24|    77|
|Argentina|     3|     DF|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|1992| 08| 31|     1992-08-31|    72|
|Argentina|    22|     MF|        PAVÓN|CA Boca Juniors (...|   169|  65|1996| 01| 21|     1996-01-21|    65|
|Argentina|    15|     MF|      LANZINI|West Ham United F...|   167|  66|1993| 02| 15|     1993-02-15|    65|
|Argentina|    18|     DF|       SALVIO|    SL Benfica (POR)|   167|  69|1990| 07| 13|     1990-07-13|    66|
+---------+------+-------+-------------+--------------------+------+----+----+---+---+---------------+------+
only showing top 23 rows

In [55]:
degrau = Window.partitionBy('Selecao').orderBy(desc('Altura'))

df.withColumn('degrau', lead('Altura').over(degrau)).show(23)

+---------+------+-------+-------------+--------------------+------+----+----+---+---+---------------+------+
|  Selecao|Numero|Posicao|Nome_Camiseta|                Time|Altura|Peso| Ano|Mes|Dia|Data_Nascimento|degrau|
+---------+------+-------+-------------+--------------------+------+----+----+---+---+---------------+------+
|Argentina|     6|     DF|        FAZIO|       AS Roma (ITA)|   199|  85|1987| 03| 17|     1987-03-17|   192|
|Argentina|     1|     GK|       GUZMÁN|   Tigres UANL (MEX)|   192|  90|1986| 02| 10|     1986-02-10|   189|
|Argentina|    16|     DF|         ROJO|Manchester United...|   189|  82|1990| 03| 20|     1990-03-20|   189|
|Argentina|    12|     GK|       ARMANI|CA River Plate (ARG)|   189|  85|1986| 10| 16|     1986-10-16|   186|
|Argentina|    23|     GK|    CABALLERO|    Chelsea FC (ENG)|   186|  80|1981| 09| 28|     1981-09-28|   184|
|Argentina|     9|     FW|      HIGUAÍN|   Juventus FC (ITA)|   184|  75|1987| 12| 10|     1987-12-10|   181|
|Argentina|     4|     DF|      ANSALDI|     Torino FC (ITA)|   181|  73|1986| 09| 20|     1986-09-20|   181|
|Argentina|     2|     DF|      MERCADO|    Sevilla FC (ESP)|   181|  81|1987| 03| 18|     1987-03-18|   181|
|Argentina|    17|     DF|     OTAMENDI|Manchester City F...|   181|  81|1988| 02| 12|     1988-02-12|   180|
|Argentina|    13|     MF|         MEZA|CA Independiente ...|   180|  76|1992| 12| 15|     1992-12-15|   178|
|Argentina|    11|     MF|     DI MARÍA|Paris Saint-Germa...|   178|  75|1988| 02| 14|     1988-02-14|   177|
|Argentina|    21|     FW|       DYBALA|   Juventus FC (ITA)|   177|  73|1993| 11| 15|     1993-11-15|   177|
|Argentina|    20|     MF|     LO CELSO|Paris Saint-Germa...|   177|  75|1996| 04| 09|     1996-04-09|   175|
|Argentina|     5|     MF|       BIGLIA|      AC Milan (ITA)|   175|  73|1986| 01| 30|     1986-01-30|   175|
|Argentina|     7|     MF|       BANEGA|    Sevilla FC (ESP)|   175|  73|1988| 06| 29|     1988-06-29|   174|
|Argentina|    14|     DF|   MASCHERANO|Hebei China Fortu...|   174|  73|1984| 06| 08|     1984-06-08|   172|
|Argentina|    19|     FW|       AGÜERO|Manchester City F...|   172|  74|1988| 06| 02|     1988-06-02|   172|
|Argentina|     8|     DF|        ACUÑA|   Sporting CP (POR)|   172|  77|1991| 10| 28|     1991-10-28|   170|
|Argentina|    10|     FW|        MESSI|  FC Barcelona (ESP)|   170|  72|1987| 06| 24|     1987-06-24|   169|
|Argentina|     3|     DF|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|1992| 08| 31|     1992-08-31|   169|
|Argentina|    22|     MF|        PAVÓN|CA Boca Juniors (...|   169|  65|1996| 01| 21|     1996-01-21|   167|
|Argentina|    15|     MF|      LANZINI|West Ham United F...|   167|  66|1993| 02| 15|     1993-02-15|   167|
|Argentina|    18|     DF|       SALVIO|    SL Benfica (POR)|   167|  69|1990| 07| 13|     1990-07-13|  NULL|
+---------+------+-------+-------------+--------------------+------+----+----+---+---+---------------+------+
only showing top 23 rows

In [60]:
df.groupBy('Selecao').agg({'Altura':'avg'}).orderBy('avg(Altura)', ascending=False).show()

+--------------+------------------+
|       Selecao|       avg(Altura)|
+--------------+------------------+
|        Serbia|186.69565217391303|
|       Denmark| 186.6086956521739|
|       Germany| 185.7826086956522|
|        Sweden| 185.7391304347826|
|       Iceland|185.52173913043478|
|       Belgium|185.34782608695653|
|       Croatia| 185.2608695652174|
|       Nigeria|184.52173913043478|
|       IR Iran|184.47826086956522|
|        Russia| 184.3913043478261|
|       Senegal|183.65217391304347|
|        France|183.30434782608697|
|        Poland|183.17391304347825|
|       Tunisia|183.08695652173913|
|   Switzerland|182.91304347826087|
|       England| 182.7391304347826|
|       Morocco|182.69565217391303|
|        Panama|182.17391304347825|
|Korea Republic| 181.8695652173913|
|       Uruguay|181.04347826086956|
+--------------+------------------+
only showing top 20 rows

In [64]:
df.groupBy('Selecao').agg(avg('Altura')).orderBy('avg(Altura)', ascending=False).show(32)

+--------------+------------------+
|       Selecao|       avg(Altura)|
+--------------+------------------+
|        Serbia|186.69565217391303|
|       Denmark| 186.6086956521739|
|       Germany| 185.7826086956522|
|        Sweden| 185.7391304347826|
|       Iceland|185.52173913043478|
|       Belgium|185.34782608695653|
|       Croatia| 185.2608695652174|
|       Nigeria|184.52173913043478|
|       IR Iran|184.47826086956522|
|        Russia| 184.3913043478261|
|       Senegal|183.65217391304347|
|        France|183.30434782608697|
|        Poland|183.17391304347825|
|       Tunisia|183.08695652173913|
|   Switzerland|182.91304347826087|
|       England| 182.7391304347826|
|       Morocco|182.69565217391303|
|        Panama|182.17391304347825|
|Korea Republic| 181.8695652173913|
|       Uruguay|181.04347826086956|
|         Egypt|             181.0|
|     Australia| 180.8695652173913|
|        Brazil| 180.7826086956522|
|      Colombia| 180.7826086956522|
|    Costa Rica|180.69565217391303|
|         Spain|179.91304347826087|
|        Mexico| 179.7826086956522|
|      Portugal| 179.7391304347826|
|         Japan| 178.7826086956522|
|     Argentina|178.43478260869566|
|  Saudi Arabia|177.65217391304347|
|          Peru| 177.6086956521739|
+--------------+------------------+

In [66]:
df.where('Selecao = "Brazil"').show()

+-------+------+-------+-------------+--------------------+------+----+----+---+---+---------------+
|Selecao|Numero|Posicao|Nome_Camiseta|                Time|Altura|Peso| Ano|Mes|Dia|Data_Nascimento|
+-------+------+-------+-------------+--------------------+------+----+----+---+---+---------------+
| Brazil|    18|     MF|         FRED|FC Shakhtar Donet...|   169|  64|1993| 03| 05|     1993-03-05|
| Brazil|    21|     FW|       TAISON|FC Shakhtar Donet...|   172|  64|1988| 01| 13|     1988-01-13|
| Brazil|    17|     MF|  FERNANDINHO|Manchester City F...|   179|  67|1985| 05| 04|     1985-05-04|
| Brazil|    22|     DF|       FAGNER|SC Corinthians (BRA)|   168|  67|1989| 06| 11|     1989-06-11|
| Brazil|    10|     FW|    NEYMAR JR|Paris Saint-Germa...|   175|  68|1992| 02| 05|     1992-02-05|
| Brazil|    11|     MF|  P. COUTINHO|  FC Barcelona (ESP)|   172|  68|1992| 06| 12|     1992-06-12|
| Brazil|     7|     FW|     D. COSTA|   Juventus FC (ITA)|   182|  70|1990| 09| 14|     1990-09-14|
| Brazil|     6|     DF|  FILIPE LUIS|Atletico Madrid (...|   182|  73|1985| 08| 09|     1985-08-09|
| Brazil|     9|     FW|     G. JESUS|Manchester City F...|   175|  73|1997| 04| 03|     1997-04-03|
| Brazil|    13|     DF|   MARQUINHOS|Paris Saint-Germa...|   183|  75|1994| 05| 14|     1994-05-14|
| Brazil|    20|     FW|      FIRMINO|  Liverpool FC (ENG)|   181|  76|1991| 10| 02|     1991-10-02|
| Brazil|    19|     MF|      WILLIAN|    Chelsea FC (ENG)|   175|  77|1988| 08| 09|     1988-08-09|
| Brazil|     3|     DF|      MIRANDA|FC Internazionale...|   186|  78|1984| 09| 07|     1984-09-07|
| Brazil|    14|     DF|       DANILO|Manchester City F...|   184|  78|1991| 07| 15|     1991-07-15|
| Brazil|     2|     DF|     T. SILVA|Paris Saint-Germa...|   183|  79|1984| 09| 22|     1984-09-22|
| Brazil|    12|     DF|      MARCELO|Real Madrid CF (ESP)|   174|  80|1988| 05| 12|     1988-05-12|
| Brazil|    15|     MF|     PAULINHO|  FC Barcelona (ESP)|   181|  81|1988| 07| 25|     1988-07-25|
| Brazil|     4|     DF|      GEROMEL|   Grêmio FBPA (BRA)|   190|  84|1985| 09| 21|     1985-09-21|
| Brazil|     5|     MF|     CASEMIRO|Real Madrid CF (ESP)|   185|  84|1992| 02| 23|     1992-02-23|
| Brazil|     8|     MF|   R. AUGUSTO| Beijing Guoan (CHN)|   186|  86|1988| 02| 08|     1988-02-08|
+-------+------+-------+-------------+--------------------+------+----+----+---+---+---------------+
only showing top 20 rows

In [68]:
df.where('Selecao = "Brazil"').where('Posicao = "FW"').show()

+-------+------+-------+-------------+--------------------+------+----+----+---+---+---------------+
|Selecao|Numero|Posicao|Nome_Camiseta|                Time|Altura|Peso| Ano|Mes|Dia|Data_Nascimento|
+-------+------+-------+-------------+--------------------+------+----+----+---+---+---------------+
| Brazil|    21|     FW|       TAISON|FC Shakhtar Donet...|   172|  64|1988| 01| 13|     1988-01-13|
| Brazil|    10|     FW|    NEYMAR JR|Paris Saint-Germa...|   175|  68|1992| 02| 05|     1992-02-05|
| Brazil|     7|     FW|     D. COSTA|   Juventus FC (ITA)|   182|  70|1990| 09| 14|     1990-09-14|
| Brazil|     9|     FW|     G. JESUS|Manchester City F...|   175|  73|1997| 04| 03|     1997-04-03|
| Brazil|    20|     FW|      FIRMINO|  Liverpool FC (ENG)|   181|  76|1991| 10| 02|     1991-10-02|
+-------+------+-------+-------------+--------------------+------+----+----+---+---+---------------+

In [72]:
top1 = Window.partitionBy('Selecao').orderBy(desc('Altura'))

df.withColumn('Top', row_number().over(top1)).filter('Top = "1"').show()

+--------------+------+-------+-------------+--------------------+------+----+----+---+---+---------------+---+
|       Selecao|Numero|Posicao|Nome_Camiseta|                Time|Altura|Peso| Ano|Mes|Dia|Data_Nascimento|Top|
+--------------+------+-------+-------------+--------------------+------+----+----+---+---+---------------+---+
|     Argentina|     6|     DF|        FAZIO|       AS Roma (ITA)|   199|  85|1987| 03| 17|     1987-03-17|  1|
|     Australia|    12|     GK|        JONES|Feyenoord Rotterd...|   193|  87|1982| 03| 19|     1982-03-19|  1|
|       Belgium|     1|     GK|     COURTOIS|    Chelsea FC (ENG)|   199|  91|1992| 05| 11|     1992-05-11|  1|
|        Brazil|    16|     GK|       CASSIO|SC Corinthians (BRA)|   195|  92|1987| 06| 06|     1987-06-06|  1|
|      Colombia|    13|     DF|      Y. MINA|  FC Barcelona (ESP)|   194|  95|1994| 09| 23|     1994-09-23|  1|
|    Costa Rica|    19|     DF|    K. WASTON|Vancouver Whiteca...|   196|  87|1988| 01| 01|     1988-01-01|  1|
|       Croatia|    12|     GK|   L. KALINIĆ|      KAA Gent (BEL)|   201|  96|1990| 04| 03|     1990-04-03|  1|
|       Denmark|     3|     DF|  VESTERGAARD|VfL Borussia Mönc...|   200|  98|1992| 08| 03|     1992-08-03|  1|
|         Egypt|     6|     DF|    A. HEGAZY|West Bromwich Alb...|   194|  95|1991| 01| 25|     1991-01-25|  1|
|       England|    13|     GK|      BUTLAND| Stoke City FC (ENG)|   196|  96|1993| 03| 10|     1993-03-10|  1|
|        France|    15|     MF|       NZONZI|    Sevilla FC (ESP)|   197|  87|1988| 12| 15|     1988-12-15|  1|
|       Germany|    15|     DF|         SÜLE|FC Bayern München...|   195|  89|1995| 09| 03|     1995-09-03|  1|
|       IR Iran|     1|     GK|A. BEIRANVAND| Persepolis FC (IRN)|   194|  85|1992| 09| 21|     1992-09-21|  1|
|       Iceland|    12|     GK|       SCHRAM|   Roskilde BK (DEN)|   198|  92|1995| 01| 19|     1995-01-19|  1|
|         Japan|    22|     DF|      YOSHIDA|Southampton FC (ENG)|   189|  78|1988| 08| 24|     1988-08-24|  1|
|Korea Republic|     9|     FW|      S W KIM|Jeonbuk Hyundai (...|   197|  97|1988| 04| 14|     1988-04-14|  1|
|        Mexico|     5|     DF|     D. REYES|      FC Porto (POR)|   190|  77|1992| 09| 19|     1992-09-19|  1|
|       Morocco|     6|     DF|        SAISS|Wolverhampton Wan...|   190|  76|1990| 03| 26|     1990-03-26|  1|
|       Nigeria|    13|     FW|      NWANKWO|    FC Crotone (ITA)|   197|  89|1992| 05| 07|     1992-05-07|  1|
|        Panama|    22|     GK|    RODRIGUEZ|San Francisco FC ...|   197|  83|1990| 08| 05|     1990-08-05|  1|
+--------------+------+-------+-------------+--------------------+------+----+----+---+---+---------------+---+
only showing top 20 rows

In [74]:
df.where('Selecao = "Brazil"').describe().show()

+-------+-------+-----------------+-------+-------------+--------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|Selecao|           Numero|Posicao|Nome_Camiseta|                Time|           Altura|             Peso|              Ano|              Mes|              Dia|
+-------+-------+-----------------+-------+-------------+--------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|     23|               23|     23|           23|                  23|               23|               23|               23|               23|               23|
|   mean|   NULL|             12.0|   NULL|         NULL|                NULL|180.7826086956522|76.56521739130434|1989.391304347826|6.130434782608695|11.26086956521739|
| stddev|   NULL|6.782329983125267|   NULL|         NULL|                NULL|7.354383490255254|8.239737898283606|3.499858833968506|2.784769418006175|6.876953549252538|
|    min| Brazil|                1|     DF|    A. BECKER|       AS Roma (ITA)|              168|               64|             1984|               01|               02|
|    max| Brazil|                9|     MF|      WILLIAN|SC Corinthians (BRA)|              195|               92|             1997|               10|               25|
+-------+-------+-----------------+-------+-------------+--------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

In [81]:
parametro = Window.partitionBy('Selecao').orderBy(desc('Altura'))
parametro2 = Window.partitionBy('Selecao')

df.withColumn('linhax', row_number().over(parametro))\
  .withColumn('media', avg('Altura').over(parametro2))\
  .withColumn('max', max('Altura').over(parametro2))\
  .withColumn('min', min('Altura').over(parametro2))\
  .filter('linhax = "1"').select('Selecao', 'media', 'max', 'min')\
  .orderBy('media', ascending=False).show()

+--------------+------------------+---+---+
|       Selecao|             media|max|min|
+--------------+------------------+---+---+
|        Serbia|186.69565217391303|195|169|
|       Denmark| 186.6086956521739|200|171|
|       Germany| 185.7826086956522|195|176|
|        Sweden| 185.7391304347826|198|177|
|       Iceland|185.52173913043478|198|170|
|       Belgium|185.34782608695653|199|169|
|       Croatia| 185.2608695652174|201|172|
|       Nigeria|184.52173913043478|197|172|
|       IR Iran|184.47826086956522|194|177|
|        Russia| 184.3913043478261|196|173|
|       Senegal|183.65217391304347|196|173|
|        France|183.30434782608697|197|168|
|        Poland|183.17391304347825|195|172|
|       Tunisia|183.08695652173913|192|170|
|   Switzerland|182.91304347826087|192|165|
|       England| 182.7391304347826|196|170|
|       Morocco|182.69565217391303|190|167|
|        Panama|182.17391304347825|197|165|
|Korea Republic| 181.8695652173913|197|170|
|       Uruguay|181.04347826086956|196|168|
+--------------+------------------+---+---+
only showing top 20 rows